[submodule ".config/kak/autoload/auto-pairs.kak"]
	path = .config/kak/autoload/auto-pairs.kak
	url = https://github.com/alexherbo2/auto-pairs.kak
[submodule ".config/mvi"]
	path = .config/mvi
	url = https://github.com/occivink/mpv-image-viewer
[submodule "/home/testuser/.local/share/junest"]
	path = /home/testuser/.local/share/junest
	url = https://github.com/fsquillace/junest
