/*
!/.gitignore
!/.gitconfig

!/Wallpapers/

!/.yash_profile
!/.yashrc

!/.local/
/.local/*
!/.local/bin/
!/.local/share/
/.local/share/*
!/.local/share/junest
!/.local/share/s6-rc
/.local/share/s6-rc/rc

!/.config/
/.config/*
!/.config/fontconfig/
!/.config/foot/
!/.config/gtk-3.0/
!/.config/vis/
!/.config/mvi
!/.config/sway/
!/.config/kanshi/

!/.config/s6/
# Ignore .s6-svscan, */supervise, */event, ...
/.config/s6/.*
/.config/s6/*/*
!/.config/s6/*/run
