/*
!/.gitignore
!/.gitconfig

!/Wallpapers/

!/.yash_profile
!/.yashrc

!/.local/
/.local/*
!/.local/bin/
!/.local/share/
/.local/share/*
!/.local/share/junest

!/.config/
/.config/*
!/.config/fontconfig/
!/.config/foot/
!/.config/gtk-3.0/
!/.config/kak/
!/.config/kak-lsp/
!/.config/mvi
!/.config/sway/

!/.config/s6/
# Ignore .s6-svscan, */supervise, */event, ...
/.config/s6/.*
/.config/s6/*/*
!/.config/s6/*/run

!/.var/
/.var/*
!/.var/sandbox
/.var/sandbox/*
!/.var/sandbox/.bashrc
